/// Enables arrows for items with dropdown menus.
/// @type Boolean
$dropdown-menu-arrows: true !default;

/// Sets dropdown menu arrow color if arrow is used.
/// @type Color
$dropdown-menu-arrow-color: $anchor-color !default;

/// Sets dropdown menu arrow size if arrow is used.
/// @type Length
$dropdown-menu-arrow-size: 6px !default;

/// Sets dropdown menu arrow padding for aligning the arrow correctly.
/// @type Length
$dropdown-menu-arrow-padding: rem-calc(32) !default;

/// Background color for dropdown menus.
/// @type Color
$dropdown-menu-background: $white !default;

/// Border for dropdown menus.
/// @type List
$dropdown-menu-border: 1px solid $grey !default;

/// Minimum width of dropdown menus.
/// @type Length
$dropdown-menu-min-width: 200px !default;

/// @todo Documentation needed...
@mixin dropdown-menu-basics {
  li {
    position: relative;

    &.is-opened > .menu {
      display: flex;
      flex-direction: column;
    }
  }
}

/// @todo Documentation needed...
@mixin dropdown-menu-direction($direction: horizontal) {
  @if ($direction == horizontal) {
    > li {
      // default behaviour
      > .menu {
        top: 100%;
        left: 0;
      }

      &.opens-left > .menu {
        right: 0;
        left: auto;
      }

      &.opens-right > .menu {
        right: auto;
        left: 0;
      }

      &.opens-up > .menu {
        top: auto;
        bottom: 100%;
      }

      &.opens-down > .menu {
        top: 100%;
        bottom: auto;
      }
    }
  } @else if ($direction == vertical) {
    > li {
      // default behaviour
      > .menu {
        top: 0;
        left: 100%;
      }

      &.opens-left > .menu {
        right: 100%;
        left: auto;
      }

      &.opens-right > .menu {
        right: auto;
        left: 100%;
      }

      &.opens-up > .menu {
        top: auto;
        bottom: 0;
      }

      &.opens-down > .menu {
        top: 0;
        bottom: auto;
      }
    }
  }
}

/// @todo Documentation needed...
@mixin dropdown-menu-submenu-direction {
  li {
    &.opens-left > .menu {
      right: 100%;
      left: auto;
    }

    &.opens-right > .menu {
      right: auto;
      left: 100%;
    }

    &.opens-up > .menu {
      top: auto;
      bottom: 0;
    }

    &.opens-down > .menu {
      top: 0;
      bottom: auto;
    }
  }
}

/// @todo Documentation needed...
@mixin dropdown-menu-submenu-style(
  $background: $dropdown-menu-background,
  $border: $dropdown-menu-border,
  $min-width: $dropdown-menu-min-width
) {
  background: $background;
  border: $border;
  display: none;
  min-width: $min-width;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

@mixin dropdown-menu-arrows-basics {
  li.has-submenu {
    > a {
      padding-#{$global-right}: $dropdown-menu-arrow-padding;

      &::after {
        position: absolute;
        top: 50%;
        #{$global-right}: $dropdown-menu-arrow-padding / 2 - rem-calc($dropdown-menu-arrow-size) / 2;
        transform: translateY(-50%);
      }
    }
  }
}

@mixin dropdown-menu-arrows-direction($direction: horizontal) {
  @if ($direction == horizontal) {
    > li.has-submenu {
      > a::after {
        @include css-icon-triangle($dropdown-menu-arrow-size, $dropdown-menu-arrow-color, down);
      }

      &.opens-up > a::after {
        @include css-icon-triangle($dropdown-menu-arrow-size, $dropdown-menu-arrow-color, up);
      }
    }
  } @else if ($direction == vertical) {
    > li.has-submenu {
      > a::after {
        @include css-icon-triangle($dropdown-menu-arrow-size, $dropdown-menu-arrow-color, $global-right);
      }

      &.opens-left > a::after {
        @include css-icon-triangle($dropdown-menu-arrow-size, $dropdown-menu-arrow-color, $global-left);
      }
    }
  }
}

/// @todo Documentation needed...
@mixin base-dropdown-menu {
  .dropdown {
    &.menu {
      @include dropdown-menu-basics;
      @include dropdown-menu-direction(horizontal);

      @if $dropdown-menu-arrows {
        @include dropdown-menu-arrows-basics;
        @include dropdown-menu-arrows-direction(horizontal);
      }

      &.vertical {
        @include dropdown-menu-direction(vertical);

        @if $dropdown-menu-arrows {
          @include dropdown-menu-arrows-direction(vertical);
        }
      }

      .menu {
        @include dropdown-menu-submenu-style;
        @include dropdown-menu-submenu-direction;

        @if $dropdown-menu-arrows {
          @include dropdown-menu-arrows-direction(vertical);
        }
      }
    }
  }
}
