@mixin form-checkbox {
  [type='file'],
  [type='checkbox'],
  [type='radio'] {
    margin: 0 0 $form-spacing;
  }

  // Styles for input/label siblings
  [type='checkbox'] + label,
  [type='radio'] + label {
    display: inline-block;
    margin-#{$global-left}: $form-spacing * 0.5; // sass-lint:disable-line leading-zero
    margin-#{$global-right}: $form-spacing;
    margin-bottom: 0;
    vertical-align: baseline;

    &[for] {
      cursor: pointer;
    }
  }

  // Styles for inputs inside labels
  label > [type='checkbox'],
  label > [type='radio'] {
    margin-#{$global-right}: $form-spacing * 0.5; // sass-lint:disable-line leading-zero
  }

  // Normalize file input width
  [type='file'] {
    width: 100%;
  }
}
