/// Default border around custom fieldsets.
/// @type Border
$fieldset-border: 1px solid $grey !default;

/// Default padding inside custom fieldsets.
/// @type Number
$fieldset-padding: rem-calc(20) !default;

/// Default margin around custom fieldsets.
/// @type Number
$fieldset-margin: rem-calc(18 0) !default;

/// Default margin below the legend text.
/// @type Number
$legend-margin: rem-calc(8) !default;

/// Default padding between the legend text and fieldset border.
/// @type Number
$legend-padding: rem-calc(0 3) !default;

@mixin fieldset-base {
  border: $fieldset-border;
  margin: $fieldset-margin;
  padding: $fieldset-padding;

  legend {
    background: $global-background;
    margin: 0;
    margin-#{$global-left}: rem-calc(-3);
    margin-bottom: $legend-margin;
    padding: $legend-padding;
  }
}

@mixin form-fieldset {
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  legend {
    margin-bottom: $form-spacing * .5;
    max-width: 100%;
  }

  .fieldset {
    @include fieldset-base;
  }
}
