/// Background color for select menus.
/// @type Color
$select-background: $white !default;

/// Color of the dropdown triangle inside select menus. Set to `transparent` to remove it entirely.
/// @type Color
$select-triangle-color: $grey !default;

/// Default radius for select menus.
/// @type Color
$select-radius: $global-radius !default;

@mixin form-select-base {
  appearance: none;
  background-color: $select-background;
  border: $input-border;
  border-radius: $select-radius;
  color: $input-color;
  font: {
    family: $input-font-family;
    size: $input-font-size;
  }

  height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
  line-height: normal;
  margin: 0 0 $form-spacing;
  padding: ($form-spacing / 2);
  width: 100%;

  @if $select-triangle-color != transparent {
    @include svg-icon-triangle-down($select-triangle-color, 9px auto);

    background: {
      origin: content-box;
      position: $global-right (-$form-spacing) center;
      repeat: no-repeat;
    }

    padding-#{$global-right}: ($form-spacing * 1.5);
  }

  @if has-value($input-transition) {
    transition: $input-transition;
  }

  // Hide the dropdown arrow shown in newer IE versions
  &::-ms-expand {
    display: none;
  }

  // Focus state
  &:focus {
    background-color: $input-background-focus;
    border: $input-border-focus;
    box-shadow: $input-shadow-focus;
    outline: none;

    @if has-value($input-transition) {
      transition: $input-transition;
    }
  }

  // Disabled state
  &:disabled {
    background-color: $input-background-disabled;
    cursor: $input-cursor-disabled;
  }

  &[multiple] {
    background-image: none;
    height: auto;
  }
}

@mixin form-select {
  select {
    @include form-select-base;
  }
}
