//  scss-base Settings
//  ------------------
//
//  Table of Contents:
//
//   1. Color
//   2. Global
//   3. Breakpoints
//   4. The Grid
//   5. Typography
//   6. Forms
//   7. Menu
//   8. Button
//   9. Table
//  10. Section
//  11. Pagination
//  12. Modal
//  13. Top Bar
//  14. Side Bar
//
//  ------------------

// 1. Color
// --------

$black: #000;
$grey: #bdbdbd;
$white: #fff;
$blue: #2185d0;
$red: #c62828;
$yellow: #ffdd57;
$green: #21ba45;

$primary-color: $blue;
$secondary-color: $grey;
$info-color: $blue;
$success-color: $green;
$warning-color: $yellow;
$danger-color: $red;

// 2. Base
// -------

$global-background: $white;
$global-font-color: $black;
$global-font-size: 100%;
$global-font-family-sans-serif: Roboto, Arial, sans-serif;
$global-font-family-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$global-font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$global-font-family: $global-font-family-sans-serif;
$global-font-weight-normal: normal;
$global-font-weight-bold: bold;
$global-line-height: 1.5;
$global-text-rendering: optimizeLegibility;
$global-width: rem-calc(1280);
$global-margin: 1rem;
$global-padding: 1rem;
$global-radius: 3px;
$global-text-direction: ltr;

// 3. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// 4. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: rem-calc(20),
  medium: rem-calc(30)
);

// 5. Typography
// -------------

$header-color: inherit;
$header-font-family: $global-font-family;
$header-font-style: normal;
$header-font-weight: $global-font-weight-normal;
$header-line-height: 1.4;
$header-margin-bottom: $global-margin / 2;
$header-small-font-color: $grey;
$header-styles: (
  small: (
    h1: (font-size: rem-calc(24)),
    h2: (font-size: rem-calc(20)),
    h3: (font-size: rem-calc(19)),
    h4: (font-size: rem-calc(18)),
    h5: (font-size: rem-calc(17)),
    h6: (font-size: 1rem),
  ),
  medium: (
    h1: (font-size: rem-calc(48)),
    h2: (font-size: rem-calc(40)),
    h3: (font-size: rem-calc(31)),
    h4: (font-size: rem-calc(25)),
    h5: (font-size: rem-calc(20)),
    h6: (font-size: 1rem),
  ),
);
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: $global-margin;
$small-font-size: 80%;
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $grey;
$hr-margin: rem-calc(20) auto;
$list-lineheight: $paragraph-line-height;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$definition-list-margin-bottom: 1rem;
$definition-list-term-margin-bottom: .3rem;
$definition-list-term-weight: $global-font-weight-bold;
$blockquote-color: $grey;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $grey;
$cite-font-size: rem-calc(13);
$cite-color: $grey;
$cite-pseudo-content: '\2014 \0020';
$abbr-underline: 1px dotted $black;
$code-color: $black;
$code-font-family: $global-font-family-monospace;
$code-font-weight: $global-font-weight-normal;
$code-background: $grey;
$code-border: 1px solid $grey;
$code-padding: rem-calc(2 5 1);
$keystroke-font: $global-font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $grey;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;

// 6. Forms
// --------

$form-spacing: 1rem;
$fieldset-border: 1px solid $grey;
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(18 0);
$legend-margin: rem-calc(8);
$legend-padding: rem-calc(0 3);
$form-label-color: $black;
$form-label-font-size: rem-calc(14);
$form-label-font-weight: $global-font-weight-normal;
$form-label-line-height: 1.8;
$input-color: $black;
$input-placeholder-color: $grey;
$input-font-family: inherit;
$input-font-size: 1rem;
$input-font-weight: $global-font-weight-normal;
$input-background: $white;
$input-background-focus: $white;
$input-background-disabled: $grey;
$input-border: 1px solid $grey;
$input-border-focus: 1px solid $grey;
$input-shadow: inset 0 1px 2px rgba($black, .1);
$input-shadow-focus: 0 0 5px $grey;
$input-cursor-disabled: not-allowed;
$input-transition: box-shadow .5s, border-color .25s ease-in-out;
$input-number-spinners: true;
$input-radius: $global-radius;
$input-button-radius: $global-radius;
$select-background: $white;
$select-triangle-color: $grey;
$select-radius: $global-radius;
$help-text-color: $black;
$help-text-font-size: rem-calc(13);
$help-text-font-style: italic;
$error-text-color: $danger-color;
$error-text-font-size: rem-calc(13);
$error-text-font-style: italic;
$error-text-font-weight: $global-font-weight-normal;

// 7. Button
// ---------

$button-background: $secondary-color;
$button-background-hover: scale-color($button-background, $lightness: -20%);
$button-background-hover-lightness: -20%;
$button-color: $black;
$button-font-family: inherit;
$button-font-weight: $global-font-weight-normal;
$button-margin: 0 0 $global-margin 0;
$button-padding: .5em 1em;
$button-primary-background-color: $primary-color;
$button-primary-background-color-hover: scale-color($button-primary-background-color, $lightness: $button-background-hover-lightness);
$button-primary-color: $white;
$button-primary-color-hover: $white;
$button-info-background-color: $info-color;
$button-info-background-color-hover: scale-color($button-info-background-color, $lightness: $button-background-hover-lightness);
$button-info-color: $white;
$button-info-color-hover: $white;
$button-success-background-color: $success-color;
$button-success-background-color-hover: scale-color($button-success-background-color, $lightness: $button-background-hover-lightness);
$button-success-color: $white;
$button-success-color-hover: $white;
$button-warning-background-color: $warning-color;
$button-warning-background-color-hover: scale-color($button-warning-background-color, $lightness: $button-background-hover-lightness);
$button-warning-color: $black;
$button-warning-color-hover: $black;
$button-danger-background-color: $danger-color;
$button-danger-background-color-hover: scale-color($button-danger-background-color, $lightness: $button-background-hover-lightness);
$button-danger-color: $white;
$button-danger-color-hover: $white;
$button-sizes: (
  tiny: .6rem,
  small: .75rem,
  default: 1rem,
  large: 1.25rem,
);
$button-radius: $global-radius;
$button-transition: background-color .25s ease-out, color .25s ease-out;
$button-cursor-disabled: not-allowed;
$button-opacity-disabled: .25;

// 8. Menu
// -------
$menu-background: $white;
$menu-border: none;
$menu-margin: 0;
$menu-margin-nested: 1rem;
$menu-item-padding: rem-calc(11 16);
$menu-item-font-size: inherit;
$menu-item-font-family: inherit;
$menu-item-font-weight: $global-font-weight-normal;
$menu-item-color: $primary-color;
$menu-item-background: $white;
$menu-item-color-hover: scale-color($primary-color, $lightness: -15%);
$menu-item-background-hover: $grey;
$menu-item-color-active: $white;
$menu-item-background-active: $primary-color;

// 9. Table
// --------
$table-background: $white;
$table-border: 1px solid $grey;
$table-stripe: even;
$table-striped-background: darken($table-background, 2%);
$table-row-hover: darken($table-background, 2%);
$table-row-stripe-hover: darken($table-background, 7%);
$table-head-background: darken($table-background, 2%);
$table-head-row-hover: darken($table-head-background, 2%);
$table-foot-background: darken($table-background, 2%);
$table-foot-row-hover: darken($table-background, 2%);
$table-head-font-color: $global-font-color;
$table-foot-font-color: $global-font-color;
$table-padding: rem-calc(8 10 10);
$table-margin: 0 0 $global-margin;
$table-border-radius: $global-radius;

// 10. Section
// -----------

$section-background: $white;
$section-border: 1px solid $white;
$section-color: $black;
$section-color-alt: $white;
$section-margin: 0 0 $global-margin 0;
$section-padding: (
  small: rem-calc(20),
  medium: rem-calc(30)
);
$section-radius: $global-radius;

// 11. Pagination
// --------------
$pagination-font-size: rem-calc(14);
$pagination-margin-bottom: $global-margin;
$pagination-radius: $global-radius;
$pagination-item-color: $black;
$pagination-item-background-hover: $grey;
$pagination-item-background-current: $primary-color;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $grey;
$pagination-item-padding: rem-calc(3 10);
$pagination-item-spacing: rem-calc(5);
$pagination-ellipsis-color: $black;

// 12. Modal
// ---------
$modal-background: $white;
$modal-max-width: $global-width;
$modal-top: 100px;
$modal-sizes: (
  tiny: 30%,
  default: 600px,
  small: 50%,
  large: 90%,
);
$modal-border: 1px solid $grey;
$modal-padding: $global-padding;
$modal-radius: $global-radius;
$modal-z-index: 1000;
$modal-overlay-background: rgba($black, .45);

// 13. Top Bar
// -----------
$top-bar-margin: rem-calc(30);
$top-bar-padding: 0;
$top-bar-background: $primary-color;
$top-bar-title-color: $white;
$top-bar-title-font-size: 1rem;
$top-bar-title-font-weight: $global-font-weight-bold;
$top-bar-title-padding: rem-calc(10);
$top-bar-menu-item-background: $primary-color;
$top-bar-menu-item-color: $white;
$top-bar-menu-item-background-hover: scale-color($primary-color, $lightness: -20%);
$top-bar-menu-item-color-hover: $white;
$top-bar-menu-item-background-active: scale-color($primary-color, $lightness: -10%);
$top-bar-menu-item-color-active: $white;
$top-bar-menu-item-font-size: 1rem;
$top-bar-menu-item-padding: rem-calc(10 20);
$top-bar-dropdownmenu-background: $top-bar-background;
$top-bar-dropdownmenu-border: 1px solid $white;

// 14. Side Bar
// -----------

$side-bar-background: scale-color($black, $lightness: 20%);
$side-bar-width: rem(300);
$side-bar-title-color: $white;
$side-bar-title-font-size: 1rem;
$side-bar-title-font-weight: $global-font-weight-bold;
$side-bar-title-padding: rem-calc(10);
$side-bar-menu-item-background: $white !default;
$side-bar-menu-item-color: $primary-color !default;
$side-bar-menu-item-background-hover: scale-color($black, $lightness: 13.5%);
$side-bar-menu-item-color-hover: $white;
$side-bar-menu-item-background-active: $primary-color;
$side-bar-menu-item-color-active: $white;
$side-bar-menu-item-font-size: 1rem;
$side-bar-menu-item-padding: rem-calc(10 20);
