/// Background color for the side bar menu. This color also cascades to menus within the side bar.
/// @type Color
$side-bar-background: $primary-color !default;

/// @type Number
$side-bar-width: rem(300) !default;

/// Text color for the side bar title.
/// @type Color
$side-bar-title-color: $white !default;

/// Font size for the side bar title.
/// @type Keyword | Number
$side-bar-title-font-size: rem-calc(16) !default;

/// Font weight for the side bar title.
/// @type Keyword | Number
$side-bar-title-font-weight: $global-font-weight-bold !default;

/// Padding value for the side bar title.
/// @type Number
$side-bar-title-padding: rem-calc(10) !default;

/// Background color for a side bar menu item.
/// @type Color
$side-bar-menu-item-background: $primary-color !default;

/// Text color for a side bar menu item.
/// @type Color
$side-bar-menu-item-color: $white !default;

/// Background color for a hover side bar menu item.
/// @type Color
$side-bar-menu-item-background-hover: scale-color($primary-color, $lightness: -20%) !default;

/// Text color for a hover side bar menu item.
/// @type Color
$side-bar-menu-item-color-hover: $white !default;

/// Background color for an active side bar menu item.
/// @type Color
$side-bar-menu-item-background-active: scale-color($primary-color, $lightness: -10%) !default;

/// Text color for an active side bar menu item.
/// @type Color
$side-bar-menu-item-color-active: $white !default;

/// Font size for the side bar menu item.
/// @type Keyword | Number
$side-bar-menu-item-font-size: rem-calc(16) !default;

/// Padding for side bar menu item.
/// @type Number
$side-bar-menu-item-padding: rem-calc(10 20) !default;

@mixin side-bar-base {
  display: grid;
  grid-template: {
    columns: $side-bar-width auto;
    rows: unset;
  };
  height: 100%;
  min-height: 100vh;
}

@mixin side-bar-title(
  $color: $side-bar-title-color,
  $font-size: $side-bar-title-font-size,
  $font-weight: $side-bar-title-font-weight,
  $padding: $side-bar-title-padding
) {
  color: $color;
  padding: $padding;
  font: {
    size: $font-size;
    weight: $font-weight;
  }

  > * {
    margin: 0;
  }
}

@mixin side-bar-menu(
  $background: $side-bar-background,
  $color: $side-bar-menu-item-color,
  $background-hover: $side-bar-menu-item-background-hover,
  $color-hover: $side-bar-menu-item-color-hover,
  $background-active: $side-bar-menu-item-background-active,
  $color-active: $side-bar-menu-item-color-active,
  $padding: $side-bar-menu-item-padding
) {
  display: flex;
  flex-direction: column;
  background-color: $background;

  .menu {
    @include menu-style($background, $color, $background-hover, $color-hover, $background-active, $color-active, $padding);
    background-color: $background;
  }
}

@mixin side-bar-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
}

@mixin base-side-bar {
  .side-bar {
    @include side-bar-base;
  }

  .side-bar-menu {
    @include side-bar-menu;
  }

  .side-bar-title {
    @include side-bar-title;
  }

  .side-bar-container {
    @include side-bar-container;
  }
}
