/// Bottom margin for the top bar.
/// @type Number
$top-bar-margin: rem-calc(30) !default;

/// Padding for the top bar.
/// @type Number
$top-bar-padding: 0 !default;

/// Background color for the top bar. This color also cascades to menus within the top bar.
/// @type Color
$top-bar-background: scale-color($black, $lightness: 20%) !default;

/// Text color for the top bar title.
/// @type Color
$top-bar-title-color: $white !default;

/// Font size for the top bar title.
/// @type Keyword | Number
$top-bar-title-font-size: rem-calc(16) !default;

/// Font weight for the top bar title.
/// @type Keyword | Number
$top-bar-title-font-weight: $global-font-weight-bold !default;

/// Padding value for the top bar title.
/// @type Number
$top-bar-title-padding: rem-calc(10) !default;

/// Text color for a top bar menu item.
/// @type Color
$top-bar-menu-item-color: $white !default;

/// Background color for a hover top bar menu item.
/// @type Color
$top-bar-menu-item-background-hover: scale-color($black, $lightness: 13.5%) !default;

/// Text color for a hover top bar menu item.
/// @type Color
$top-bar-menu-item-color-hover: $white !default;

/// Background color for an active top bar menu item.
/// @type Color
$top-bar-menu-item-background-active: $primary-color !default;

/// Text color for an active top bar menu item.
/// @type Color
$top-bar-menu-item-color-active: $white !default;

/// Padding for top bar menu item.
/// @type Number
$top-bar-menu-item-padding: rem-calc(10 20) !default;

/// Background color for dropdown menus within the top bar.
/// @type Color
$top-bar-dropdownmenu-background: $top-bar-background !default;

/// Border style for dropdown menus within the top bar.
/// @type List
$top-bar-dropdownmenu-border: 1px solid $white !default;

/// @todo Documentation needed...
@mixin top-bar-base(
  $margin: $top-bar-margin,
  $padding: $top-bar-padding,
  $background: $top-bar-background
) {
  align-items: stretch;
  display: flex;
  margin-bottom: $margin;
  padding: $padding;

  &,
  ul {
    background-color: $background;
  }
}

/// @todo Documentation needed...
@mixin top-bar-title(
  $color: $top-bar-title-color,
  $font-size: $top-bar-title-font-size,
  $font-weight: $top-bar-title-font-weight,
  $padding: $top-bar-title-padding
) {
  color: $color;
  flex: 0 1 auto;
  padding: $padding;
  font: {
    size: $font-size;
    weight: $font-weight;
  }

  > * {
    margin: 0;
  }
}

/// @todo Documentation needed...
@mixin top-bar-container {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/// @todo Documentation needed...
@mixin top-bar-container-section {
  align-items: stretch;
  display: flex;
}

/// @todo Documentation needed...
@mixin top-bar-menu-style(
  $color: $top-bar-menu-item-color,
  $background-hover: $top-bar-menu-item-background-hover,
  $color-hover: $top-bar-menu-item-color-hover,
  $background-active: $top-bar-menu-item-background-active,
  $color-active: $top-bar-menu-item-color-active,
  $padding: $top-bar-menu-item-padding
) {
  @include menu-style($color, $background-hover, $color-hover, $background-active, $color-active, $padding);
}

/// @todo Documentation needed...
@mixin top-bar-dropdownmenu-style(
  $background: $top-bar-dropdownmenu-background,
  $border: $top-bar-dropdownmenu-border
) {
  background-color: $background;
  border: $border;
}

/// @todo Documentation needed...
@mixin top-bar-menu-overwrite {
  align-items: stretch;
  display: flex;

  > li > a {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

/// @todo Documentation needed...
@mixin base-top-bar {
  .top-bar {
    @include top-bar-base;
  }

  .top-bar-title {
    @include top-bar-title;
  }

  .top-bar-container {
    @include top-bar-container;
  }

  .top-bar-left,
  .top-bar-right {
    @include top-bar-container-section;

    > .menu {
      @include top-bar-menu-overwrite;
    }

    .menu {
      @include top-bar-menu-style;

      & .menu {
        @include top-bar-dropdownmenu-style;
      }
    }
  }
}
