/// Background color of a tab bar.
///
/// @type Color
$tab-background: $white !default;

/// Border color of tab content.
///
/// @type Color
$tab-border: 1px solid $grey !default;

/// Margin of the tab bar.
///
/// @type Number
$tab-margin: 0 !default;

/// Text color of a tab item.
///
/// @type Color
$tab-item-color: $primary-color !default;

/// Text color of a hover tab item.
///
/// @type Color
$tab-item-color-hover: scale-color($primary-color, $lightness: -15%) !default;

/// Background color of a hover tab item.
///
/// @type Color
$tab-item-background-hover: $grey !default;

/// Text color of an active tab item.
///
/// @type Color
$tab-item-color-active: $white !default;

/// Background color of an active tab item.
///
/// @type Color
$tab-item-background-active: $primary-color !default;

/// Padding of a tab item.
///
/// @type Number
$tab-item-padding: rem-calc(11 16) !default;

/// Background color of tab content.
///
/// @type Color
$tab-content-background: $tab-background !default;

/// Border color of tab content.
///
/// @type Color
$tab-content-border: $tab-border !default;

/// Text color of tab content.
///
/// @type Color
$tab-content-color: $global-font-color !default;

/// Padding for tab content.
///
/// @type Number | List
$tab-content-padding: rem-calc(20) !default;

/// Margin for tab container.
///
/// @type Number | List
$tabs-container-margin: 0 0 $global-margin 0 !default;

/// Adds styles for tabs.
@mixin tabs-base (
  $background: $tab-background,
  $border: $tab-border,
  $margin: $tab-margin
) {
  background: $background;
  border: $border;
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: $margin;

  // Reset line height to make the height of the overall item easier to calculate
  > li > a {
      display: block;
      line-height: 1;
  }

  // Reset styles of inner elements
  input,
  select,
  a,
  a,
  button {
    margin-bottom: 0;
  }
}

/// Sets the direction for tabs.
///
/// @param {Keyword} $dir [horizontal] - Direction of the menu can be `horizontal` or `vertical`.
@mixin tabs-direction($dir: horizontal) {
  @if $dir == horizontal {
    flex-direction: row;

  } @else if $dir == vertical {
    flex-direction: column;

  } @else {
    @warn 'The direction used for tabs-direction() must be horizontal or vertical.';
  }
}

/// Sets the style for tabs.
@mixin tabs-style(
  $color: $tab-item-color,
  $background-hover: $tab-item-background-hover,
  $color-hover: $tab-item-color-hover,
  $background-active: $tab-item-background-active,
  $color-active: $tab-item-color-active,
  $padding: $tab-item-padding
) {
  > li {

    > a {
      color: $color;
      padding: $padding;
      white-space: nowrap;

      // Hover state
      &:hover {
        background-color: $background-hover;
        color: $color-hover;
      }
    }

    // Visible state
    &.is-visible > a {
      background-color: $background-active;
      color: $color-active;
      cursor: default;
    }
  }
}

/// Adds styles for the wrapper that surrounds a tab groups.
@mixin tabs-content-style (
  $background: $tab-content-background,
  $border: $tab-content-border,
  $color: $tab-content-color
) {
  background: $background;
  border: $border;
  color: $color;
}

@mixin tabs-content-direction (
  $dir: horizontal,
  $border: $tab-content-border
) {
  @if $dir == horizontal {
    border: {
      left: $border;
      top: none;
    }
  } @else if $dir == vertical {
    border: {
      left: none;
      top: $border;
    }
  } @else {
    @warn 'The direction used for tabs-content-direction() must be horizontal or vertical.';
  }
}

/// @todo Documentation needed...
@mixin tab-base (
  $padding: $tab-content-padding
) {
  display: none;
  padding: $padding;

  // Visible state
  &.is-visible {
    display: block;
  }
}

/// @todo Documentation needed...
@mixin base-tab {
  .tab {
    @include tab-base;
  }
}

/// @todo Documentation needed...
@mixin base-tabs {
  @include base-tab;

  .tabs {
    @include tabs-base;
    @include tabs-style;
  }

  .tabs-content {
    @include tabs-content-style;
  }

  .tabs-container {
    display: flex;
    margin: $tabs-container-margin;

    &.horizontal {
      flex-direction: column;

      .tabs {
        @include tabs-direction(horizontal);
      }

      .tabs-content {
        @include tabs-content-direction(horizontal);
      }
    }

    &.vertical {
      flex-direction: row;

      .tabs {
        @include tabs-direction(vertical);
      }

      .tabs-content {
        @include tabs-content-direction(vertical);
        flex: 1 1 auto;
      }
    }
  }
}
